.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 52px;
}

.pagination__item,
.pagination__arrow {
  width: 43px;
  height: 43px;
  display: flex;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  align-items: center;
  justify-content: center;
  background: none;
  border: 1px solid rgba(17, 17, 17, 0.2);
  transition: opacity .2s ease;

  svg {
    width: 22px;
    height: 22px;
  }
}

.pagination__item.is-active {
  border-color: rgba(17, 17, 17, 0.8);
  cursor: default;
}

.pagination__item:not(:disabled):hover,
.pagination__arrow:not(:disabled):hover {
  opacity: 0.8;
}

.pagination__item:disabled,
.pagination__arrow:disabled {
  background-color: rgba($black100, .03);
  border-color: rgba($black100, .05);
  cursor: default;
}