.catalog {
  &__layout {
    margin-top: 64px;
    @include r($tablet) {
      margin-top: 46px;
    }
  }

  &__filters {
    margin-bottom: 32px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 26px;
    margin-bottom: 64px;
    @media (max-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 920px) {
      gap: 24px 18px;
    }
    @media (max-width: 700px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 18px 16px;
    }
  }

  &__empty {
    text-align: center;
    margin-top: 80px;
  }
}