.about-main {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  background-color: $gray;
  min-height: 770px;
  padding-bottom: 40px;
  @include r($desktop) {
    min-height: 630px;
  }
  @media (max-width: 860px) {
    min-height: 590px;
  }
  @include r($tablet) {
    min-height: 540px;
  }
  @include r($sm) {
    min-height: 490px;
  }
  @include r($phone) {
    min-height: 450px;
  }

  & * {
    position: relative;
    z-index: 10;
  }

  & .container {
    width: 100%;
    position: static;
  }

  &__title {
    font-size: 42px;
    letter-spacing: -0.84px;
    margin-bottom: 18px;
    line-height: 1.2;
    font-weight: 500;

    @include r($lg) {
      font-size: 38px;
    }

    @include r($tablet) {
      font-size: 34px;
      margin-bottom: 16px;
    }

    @include r($phone) {
      font-size: 28px;
      letter-spacing: -0.56px;
    }
  }

  &__text {
    font-size: 18px;
    max-width: 550px;
    line-height: 1.5;
    color: rgba($black100, .64);
    letter-spacing: -0.54px;

    @include r($tablet) {
      max-width: 480px;
      font-size: 16px;
    }

    @include r($phone) {
      font-size: 15px;
      letter-spacing: -0.45px;
    }
  }

  &__img {
    @include objectCoverBg;
    position: absolute;
    right: 0;
    top: 20px;
    width: 63%;
    z-index: 7;
    @include r($desktop) {
      width: 80%;
      height: auto;
    }

    @include r($tablet) {
      width: 90%;
      top: 10px;
    }

    @include r($phone) {
      width: 100%;
      height: 255px;
      object-position: left;
      right: auto;
    }
  }
}