.gender {
  &__breadcrumbs {
    margin-top: 22px;
    margin-bottom: 120px;
  }

  &__sections {
    display: flex;
    flex-direction: column;
    gap: 46px;
    margin-bottom: 90px;
  }

  &__loading {
    font-size: 14px;
    color: rgba($black100, .6);
  }
}