.gender {
  &__sections {
    display: flex;
    flex-direction: column;
    gap: 46px;
    margin-bottom: 90px;
    @include r($lg) {
      gap: 32px;
      margin-bottom: 80px;
    }
  }

  &__loading {
    font-size: 14px;
    color: rgba($black100, .6);
  }
}