.modal {
  position: relative;
  width: 654px;
  max-width: 100%;
  max-height: 90vh;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  &__backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    padding: 0 12px;
  }

  &__top, &__inner {
    padding: 28px 26px 22px;
  }

  &__top {
    @include flex-between-center-gap(30);
    border-bottom: 1px solid rgba($black100, .15);
    padding-top: 22px;
  }

  &__title {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -0.12px;
  }

  &__close {
    @include flex-center;
    line-height: 1;
    width: 38px;
    height: 38px;

    &:hover {
      svg path {
        stroke: darkred;
      }
    }
  }

  &__text {
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: -0.32px;
    color: rgba($black100, .8);

    &.short {
      max-width: 360px;
    }
  }

  &__error {
    color: darkred;
    font-size: 16px;
    display: block;
    font-weight: 400;
    margin-bottom: 14px;
  }

  &__actions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 28px;
    justify-content: space-between;
    align-items: center;

    &.one {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__btn {
    max-width: 100%;
    width: 100%;
    padding: 16px;
    font-size: 18px;
    text-transform: initial;

    &:hover {
      background: rgba($black100, .8);
      color: $white;
    }

    &:active {
      transform: translateY(1px);
    }

    &:disabled {
      background-color: rgba($black100, .24);
      color: rgba($white, .6);
      cursor: default;
      pointer-events: none;
      opacity: 0.6;
    }

    &--cancel {
      background: transparent;
      border: 1px solid rgba($black100, .3);
      color: rgba($black100, .8);

      &:hover {
        background: rgba($black100, .05);
        border-color: $black100;
        color: $black100;
      }

      &:active {
        transform: translateY(1px);
      }
    }
  }
}