.color-selector {
  display: flex;
  flex-direction: column;
  gap: 14px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
  }

  &__item {
    @include flex-center;
    width: 32px;
    height: 32px;
    border: 2px solid rgba($black100, .2);
    background: white;
    cursor: pointer;
    transition: .3s;

    &.active {
      border-color: rgba($black100, .8);
    }
  }

  &__inner {
    width: 20px;
    height: 20px;
  }
}