.materials {
  background-image: url("/images/bg-materials.png");
  @include bg;
  padding: 56px 0;
  margin-top: 76px;

  &__title {
    color: $white;
    font-size: 36px;
    margin-bottom: 16px;
    font-weight: 600;
    letter-spacing: 0.36px;
  }

  &__text {
    max-width: 630px;
    font-size: 18px;
    color: rgba($white, .64);
    letter-spacing: -0.54px;
    margin-bottom: 36px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 12px;

    li {
      @include flex-center;
      padding: 12px 20px;
      background-color: $white;
      letter-spacing: 0.32px;
      color: $black100;
      text-transform: uppercase;
    }
  }
}