.cart-row {
  display: grid;
  gap: 40px;
  grid-template-columns: 4.3fr 1fr 1fr 1fr;
  padding: 32px 0;
  border-top: 1px solid rgba($black100, .15);
  align-items: flex-start;

  &__product {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__status {
    font-size: 16px;
    font-weight: 400;
    color: darkred;
    margin-top: 10px;
    letter-spacing: -0.3px;
  }
}

.cart-price {
  font-weight: 500;
  font-size: 22px;
  letter-spacing: -0.44px;
  color: rgba($black100, .8);

  &--total {
    font-weight: 600;
    color: $black100;
  }
}