.btn {
  @include flex-center;
  text-align: center;
  padding: 14px 40px;
  max-width: max-content;
  background-color: $black100;
  color: $white;
  border: 1px solid transparent;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.02em;
  z-index: 1;
  transition: color .4s, background-color .4s, border .4s;

  &:hover {
    background-color: transparent;
    border-color: $black100;
    color: $black100;
  }

  &--black {
    background-color: $white;
    color: $black100;

    &:hover {
      background-color: $black100;
      border-color: transparent;
      color: $white;
    }
  }
}