body {
  background: $white;
  color: $black100;
  font-family: $font-base, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3;
}

.container {
  max-width: 1400px;
  margin: 0 auto;

  &--padding {
    padding: 0 40px;
  }
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-layout {
  flex: 1;
  display: flex;
  flex-direction: column;
}

::selection {
  color: $white;
  background: $black100;
}