html, body {
  height: 100%;
}

body {
  background: $white;
  color: $black100;
  font-family: $font-base, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3;
  overflow-y: hidden;
}

body::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}