.mega-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 100;
  border-top: 1px solid rgba($black100, .15);
  background-color: $white;
  opacity: 0;
  visibility: hidden;
  transform: translateY(6px) scale(.98);
  pointer-events: none;
  transition: opacity .35s ease,
  transform .4s cubic-bezier(.22, 1, .36, 1),
  visibility .35s ease;

  &--visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0) scale(1);
    pointer-events: auto;
  }

  &__wrapper {
    display: flex;
    padding: 32px 40px 40px 40px;
    gap: 80px;
  }

  &__column {
    @include flex-column(18);
    min-width: 160px;

    opacity: 0;
    transform: translateY(20px);
    transition: opacity .35s ease, transform .35s ease;
  }

  &--visible &__column {
    opacity: 1;
    transform: translateY(0);
  }

  &--visible &__column:nth-child(1) {
    transition-delay: .05s;
  }

  &--visible &__column:nth-child(2) {
    transition-delay: .10s;
  }

  &--visible &__column:nth-child(3) {
    transition-delay: .15s;
  }

  &--visible &__column:nth-child(4) {
    transition-delay: .20s;
  }

  &__title {
    font-size: 14px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: rgba($black100, .64);
  }

  &__list {
    @include flex-column(14);
  }

  &__link {
    line-height: 1;
    letter-spacing: 0.02em;
    padding-bottom: 1px;
    border-bottom: 1px solid transparent;
    color: rgba($black100, .8);
    text-decoration: none;
    transition: color .35s ease, border-color .35s ease;

    &:hover {
      color: $black100;
      border-bottom-color: $black100;
    }
  }
}