.mega-menu {
  border-top: 1px solid rgba($black100, .15);
  background-color: $white;
  opacity: 0;
  transform: translateY(-4px);
  pointer-events: none;
  transition: opacity 0.25s ease, transform 0.25s ease;

  &--visible {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  &__wrapper {
    display: flex;
    padding: 32px 40px 40px 40px;
    gap: 80px;
  }

  &__column {
    @include flex-column(18);
    min-width: 160px;
  }

  &__title {
    font-size: 14px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: rgba($black100, .64);
  }

  &__list {
    @include flex-column(14);
  }

  &__link {
    line-height: 1;
    letter-spacing: 0.02em;
    padding-bottom: 1px;
    border-bottom: 1px solid transparent;
    color: rgba($black100, .8);
    transition: color 0.4s, border 0.4s, text-decoration 0.4s;

    &:hover {
      border-bottom-color: $black100;
    }
  }
}