.hero-section {
  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 640px;
    margin-bottom: 64px;

    @include r($lg) {
      grid-template-columns: repeat(2, 1fr);
      min-height: 580px;
      margin-bottom: 56px;
    }

    @include r($tablet) {
      grid-template-columns: 1fr;
      min-height: 480px;
      margin-bottom: 48px;
    }

    @include r($phone) {
      min-height: 400px;
      margin-bottom: 40px;
    }
  }

  &__title {
    @include checkbox-hidden;
  }

  &__card {
    position: relative;
    overflow: hidden;
    display: block;
    text-decoration: none;
    color: inherit;
    @include r($tablet) {
      max-height: 540px;
    }
    @include r($sm) {
      min-height: 500px;
    }
    @media (max-width: 420px) {
      min-height: 470px;
    }

    img {
      @include objectCoverBg;
      height: 100%;
      transition: transform 0.4s ease;
      @include r($tablet) {
        width: 100%;
      }
    }

    &:hover img, &:focus img {
      transform: scale(1.05);
    }
  }

  &__name {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    @include r($sm) {
      padding: 18px;
    }
    @include r($phone) {
      padding: 12px;
      font-size: 14px;
    }

    @include r($tablet) {
      @include flex-column;
      padding: 24px;
    }

    @include r($phone) {
      padding: 20px;
      font-size: 16px;
    }
  }

  &__subtitle {
    font-size: 16px;
    letter-spacing: -0.03em;
    margin-bottom: 20px;
    display: block;
    text-transform: uppercase;
    color: rgba($black100, .64);

    @include r($lg) {
      font-size: 16px;
    }

    @include r($tablet) {
      font-size: 15px;
      margin-bottom: 18px;
    }

    @include r($phone) {
      font-size: 14px;
      letter-spacing: -0.02em;
    }
  }

  &__description {
    margin-bottom: 120px;
    font-size: 28px;
    letter-spacing: -0.03em;
    font-weight: 400;

    @include r($lg) {
      font-size: 26px;
      margin-bottom: 100px;
    }

    @include r($tablet) {
      font-size: 22px;
      letter-spacing: -0.02em;
      margin-bottom: 64px;
    }

    @include r($phone) {
      font-size: 20px;
      letter-spacing: -0.01em;
      line-height: 1.25;
    }
  }

  &__btn {
    margin-bottom: 64px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 600;

    @include r($lg) {
      margin-bottom: 56px;
    }

    @include r($tablet) {
      margin-bottom: 48px;
    }

    @include r($phone) {
      margin-bottom: 40px;
      width: 100%;
    }
  }
}