.auth-field {
  display: flex;
  flex-direction: column;
  gap: 7px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &__top {
    @include flex-between-center-gap(30);
  }

  &__label {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: -0.14px;
    color: rgba($black100, .8);
  }

  &__input-wrapper {
    position: relative;
  }

  &__input {
    padding: 14px 20px;
    border: 1px solid rgba($black100, .1);
    border-radius: 2px;
    font-size: 14px;
    width: 100%;
    outline: none;
    transition: border-color 0.15s ease, box-shadow 0.15s ease;

    &::placeholder {
      color: rgba($black100, .46);
    }

    &:focus {
      border-color: $black100;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
      -webkit-text-fill-color: #000 !important;
      transition: background-color 9999s ease-out;
    }
  }

  &__toggle {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0;
  }
}