.size-selector {
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__item {
    padding: 12px 19px;
    line-height: 1;
    font-size: 16px;
    border: 1px solid rgba($black100, .2);
    transition: background-color .3s, color .3s, border .3s;

    &.active {
      border-color: black;
      background: #000;
      color: white;
    }

    &:disabled {
      color: rgba($black100, .3);
      background-color: rgba($black100, .03);
      border-color: rgba($black100, .05);
      cursor: not-allowed;
    }
  }

  &__stock {
    font-size: 11px;
    margin-left: 6px;
    opacity: .7;
  }
}