.cart-header,
.cart-row {
  display: grid;
  gap: 40px;
  grid-template-columns:
    minmax(300px, 4.3fr)
    1fr
    1fr
    1fr;

  align-items: center;
}

.cart-header {
  text-transform: uppercase;
  font-size: 16px;
  color: rgba($black100, .8);
  letter-spacing: -0.48px;
  line-height: 1.5;
  padding-bottom: 12px;
}