.header {
  border-bottom: 1px solid rgba($black100, .15);
  position: relative;

  &__info {
    border-bottom: 1px solid rgba($black100, .15);
    padding: 3px 0;

    &-inner {
      @include flex-between-center-gap(30);
      padding: 10px 40px;
      font-size: 14px;
      color: rgba($black100, .6);
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 40px;
    font-size: 18px;
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 28px;
  }

  &__logo {
    display: inline-flex;
    align-items: center;
    transition: opacity .25s ease, transform .25s ease;

    &:hover {
      opacity: .8;
      transform: translateY(-1px);
    }

    &:active {
      transform: translateY(0);
      opacity: .9;
    }
  }

  &__nav {
    display: flex;
    gap: 26px;
    padding: 6px 0;
    transform: translateY(3px);
  }

  &__link {
    @include flex-align-center(6);
    line-height: 1;
    padding-bottom: 2px;
    color: rgba($black100, .8);
    border-bottom: 1px solid transparent;
    background: none;
    border-radius: 0;
    font: inherit;
    cursor: pointer;
    transition: color .4s, border .4s, text-decoration .4s;

    &:hover {
      color: $black100;
      border-bottom-color: $black100;
    }

    &.is-active {
      color: $black100;
      border-bottom-color: $black100;
    }
  }

  &__cart {
    position: relative;

    &-badge {
      @include flex-center;
      position: absolute;
      top: -1px;
      left: 11px;
      background: $black100;
      color: white;
      font-size: 8px;
      line-height: 1;
      min-width: 14px;
      height: 14px;
      border-radius: 50%;
    }
  }

  &__right {
    display: flex;
    gap: 18px;
    align-items: center;
  }
}