.about-features {
  padding: 60px 0;

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(3, auto);
    position: relative;
    column-gap: 20px;
  }

  &__card {
    max-width: 420px;

    &--1 {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    &--2 {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }

    &--3 {
      grid-column: 3 / 4;
      grid-row: 3 / 4;
    }
  }

  &__subtitle {
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 1.3;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    font-weight: 500;
  }

  &__description {
    line-height: 1.5;
    color: rgba($black100, .64);
    max-width: 32rem;
    font-size: 16px;
  }

  @media (max-width: 1024px) {
    &__grid {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-template-rows: auto;
    }

    &__card--1 {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    &__card--2 {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }

    &__card--3 {
      grid-column: 1 / 3;
      grid-row: 3 / 4;
      justify-self: center;
    }
  }

  @media (max-width: 768px) {
    &__grid {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      row-gap: 32px;
    }

    &__card--1,
    &__card--2,
    &__card--3 {
      grid-column: auto;
      grid-row: auto;
      max-width: 100%;
    }
  }
}