.add-to-cart-wrapper {
  @include flex-column(22);
  width: 100%;
  margin-top: 32px;
}

.add-to-cart-button {
  @include flex-center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  width: 100%;
  padding: 19px 30px;
  background: $black100;
  color: $white;
  cursor: pointer;
  transition: all .25s ease;

  &:hover:not(:disabled) {
    opacity: 0.88;
  }

  &:focus {
    outline: 2px solid rgba($black100, .3);
  }

  &:disabled {
    background: rgba($black100, .3);
    color: rgba($white, .6);
    cursor: not-allowed;
  }
}

.delivery-info {
  font-size: 16px;
  letter-spacing: -0.32px;
  line-height: 1.4;
  color: rgba($black100, .8);

  span {
    display: block;
  }
}