.quantity-counter {
  display: flex;
  align-items: center;
  gap: 6px;

  &__element {
    @include flex-center;
    width: 43px;
    height: 43px;
    font-size: 16px;
    letter-spacing: -0.48px;
    border: 1px solid rgba($black100, .2);
    transition: background-color .3s, border .3s, color .3s;

    &:hover {
      border-color: rgba($black100, .6);
    }

    &:focus {
      background-color: rgba($black100, .05);
      border-color: rgba($black100, .2);
    }

    &.counter {
      pointer-events: none;
    }
  }
}