.gender {
  &__hero {
    max-width: 900px;
    margin-bottom: 46px;
  }

  &__title {
    font-size: 38px;
    font-weight: 500;
    letter-spacing: -0.05em;
    margin-bottom: 18px;
  }

  &__description {
    font-size: 16px;
    letter-spacing: -0.48px;
    line-height: 1.5;
    color: rgba($black100, .64);
  }
}