.category-showcase {
  margin-bottom: 40px;

  &__top {
    @include flex-between-center-gap(30);
    margin-bottom: 24px;
  }

  &__title {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: -0.05em;
  }

  &__all {
    font-size: 18px;
    letter-spacing: -0.03em;
    font-weight: 400;
    color: rgba($black100, .8);
    border-bottom: 1px solid rgba($black100, .8);
    transition: color .4s, border .4s;

    &:hover {
      color: $black100;
      border-bottom-color: transparent;
    }
  }

  &__link {
    @include flex-center;
    align-items: stretch;
    position: relative;
    overflow: hidden;
    width: 100%;
    max-height: 385px;

    &--skeleton {
      width: 100%;
      height: 385px;
      display: block;
    }

    img {
      @include objectCoverBg;
      min-height: 385px;
      object-position: top;
      transition: transform 0.4s ease;
    }

    &:hover img, &:focus img {
      transform: scale(1.1);
    }
  }

  &__name {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
}